<mat-sidenav-container [class.m2app-dark]="isDarkTheme">

  <mat-sidenav #sidenav mode="over" class="app-sidenav" color="primary">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>test2</span>
        <span class="app-toolbar-filler"></span>
        <mat-icon class="example-icon">build</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <button mat-button (click)="isDarkTheme = !isDarkTheme" class="app-sidebar-button">TOGGLE THEME</button>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span>Account</span>
        <span class="app-toolbar-filler"></span>
        <mat-icon class="example-icon">account_circle</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <button mat-raised-button color="accent" class="app-sidebar-button">
          <mat-icon class="example-icon">verified_user</mat-icon>
          Login
        </button>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span>Favorites</span>
        <span class="app-toolbar-filler"></span>
        <mat-icon class="example-icon">favorite</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <button mat-raised-button color="warn" class="app-sidebar-button">
          <mat-icon class="example-icon">delete</mat-icon>
          Delete
        </button>
      </mat-toolbar-row>

    </mat-toolbar>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-button class="app-menu-button" (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>
    <span class="title">Angular Material Demo</span>
  </mat-toolbar>

  <div class="app-content">

    <!-- Material Button -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Button</h2>
        <button class="app-button" mat-button>FLAT</button>
        <button class="app-button" mat-raised-button mat-tooltip="This is a tooltip!">RAISED</button>
        <button class="app-button" mat-raised-button color="primary">PRIMARY RAISED</button>
        <button class="app-button" mat-raised-button color="accent">ACCENT RAISED</button>
      </mat-card-content>
    </mat-card>
    <!-- /Material Button -->
   



    <!-- Material Tab -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Tab</h2>
       
        <mat-tab-group>
          <mat-tab label="Air Nomads">
  <agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
   
  </agm-marker>

</agm-map>
          </mat-tab>
          <mat-tab label="Water Tribe">
            <p>The Water Tribe is a collective term for people, some of whom practice the art of waterbending, who follow a
              government system in the form of a tribal chiefdom. Although members of the Water Tribe typically inhabit the
              polar regions, the North Pole and the South Pole, there is a small population of waterbenders who inhabit the
              Foggy Swamp in Earth Kingdom territory. The two main tribes are the Northern Water Tribe at the North Pole
              and the Southern Water Tribe at the South Pole.</p>
          </mat-tab>
          <mat-tab label="Earth Kingdom">
            <p>The Earth Kingdom is a massive continent led by an earth monarch and is home to people who practice the art of
              earthbending. Being the largest of the four nations, it is ethnically diverse with a variance of customs and
              cultural traditions. The people of the Earth Kingdom are strong and persistent. The geography of the Earth
              Kingdom varies tremendously, ranging from wooded forests to blazing deserts, mountainous terrain, and grassy
              plains.
            </p>
          </mat-tab>
          <mat-tab label="Fire Nation">
            <p>The Fire Nation is home to people who practice the art of firebending and is an absolute monarchy led by the
              Fire Lord. Being composed of several major islands and located on the equator, the nation is considered to
              be an archipelago. Its economy is the largest and most powerful in the world with a strong industrial sector
              and advanced technological developments. The climate is normally humid and warm which allows for a diversity
              of flora and fauna to thrive.</p>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
    
</div>
</mat-sidenav-container>
