<mat-sidenav-container [class.m2app-dark]="isDarkTheme">

  <mat-sidenav #sidenav mode="next" class="app-sidenav" color="primary">
    <mat-toolbar>
      <mat-toolbar-row>
        <span  class="p-nav-bar,app-toolbar-filler" >{{currentCityDetails.name}}</span>
   
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span class="p-nav-bar-desc">
        {{currentCityDetails.description}}
        </span>
         </mat-toolbar-row>
      
        <mat-toolbar-row>
          <span>{{currentCityDetails.type}}
         </span>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <span>
         {{currentCityDetails.distance}}
         </span>
          </mat-toolbar-row>
         <mat-toolbar-row>
          <span>
          {{currentCityDetails.averageSpend}}
      </span>
       </mat-toolbar-row>
    
   
     

     
   


     
     

    </mat-toolbar>

  </mat-sidenav>

  <mat-toolbar color="primary">
    
    <span class="title">Smart Trip Suggestions</span>
  </mat-toolbar>

  <div class="app-content">




    <!-- Material Tab -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Trip Suggestions</h2>
       
        <mat-tab-group>

          <mat-tab label="Active">
            <ng-template matTabContent>
<agm-map 
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)"
  [fitBounds]="true"
  [latitude]="lat"
  [longitude]="lng"
  [styles]="customStyle">

  <agm-marker 
      *ngFor="let m of activeMarkers; let i = index"
      (markerClick)="markerClicked(m.label,m.id);sidenav.toggle();"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [iconUrl]= "m.iconType" 
      [agmFitBounds]="true">
      
   
    
  </agm-marker>

</agm-map>
            </ng-template>
          </mat-tab>
          <mat-tab label="Authentic">
              <ng-template matTabContent>
           
<agm-map 
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)"
  [fitBounds]="true"
  [latitude]="lat"
  [longitude]="lng"
  [styles]="customStyle">

  <agm-marker 
      *ngFor="let m of authenticMarkers; let i = index"
      (markerClick)="markerClicked(m.label,m.id);sidenav.toggle();"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [iconUrl]= "m.iconType" 
      [agmFitBounds]="true" >
      
  
    
  </agm-marker>

</agm-map>
              </ng-template>
          </mat-tab>
          <mat-tab label="Luxury">
     <ng-template matTabContent>       
<agm-map 
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)"
  [fitBounds]="true"
  [latitude]="lat"
  [longitude]="lng"
  [styles]="customStyle">

  <agm-marker 
      *ngFor="let m of luxMarkers; let i = index"
      (markerClick)="markerClicked(m.label,m.id);sidenav.toggle();"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [iconUrl]= "m.iconType" 
      [agmFitBounds]="true" >
   
    
  </agm-marker>

</agm-map>
     </ng-template>
          </mat-tab>
                    <mat-tab label="Relaxing">
                      <ng-template matTabContent>
            <agm-map 
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)"
  [fitBounds]="true"
  [latitude]="lat"
  [longitude]="lng"
  [styles]="customStyle">

  <agm-marker 
      *ngFor="let m of relaxMarkers; let i = index"
      (markerClick)="markerClicked(m.label,m.id);sidenav.toggle();"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [iconUrl]= "m.iconType" 
      [agmFitBounds]="true" >
      
  
    
  </agm-marker>

</agm-map>

  </ng-template>

          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
    
</div>
</mat-sidenav-container>
